---
const identity = {
  firstName: "Vovchik",
  country: "Украина",
  occupation: "Технический писатель",
  hobbies: ["фотография", "создание сайтов", "бейсбол"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Написание документации"];
const pageTitle = "Обо мне";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<body>
      <a href="/">Главная</a>
      <a href="/blog/">Блог</a>
      

<h1>Обо мне</h1>
<h2>... и моем новом сайте на Astro!</h2>
  <h1>Мой сайт на Astro</h1>
  <h1>{pageTitle}</h1>
  <h2>... и моем новом сайте на Astro!</h2>

  <p>Я прохожу вводный учебник по Astro. Это вторая страница моего сайта, и это первая страница, которую я создал самостоятельно!</p>

  <p>Сайт будет обновляться по мере прохождения учебника, так что заходите сюда снова и следите за моим прогрессом!</p>
  <h2>Несколько фактов обо мне:</h2>
<ul>
  <li>Меня зовут {identity.firstName}.</li>
  <li>Моя страна — {identity.country}.</li>
  <li>Род занятий — {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>Два моих увлечения: {identity.hobbies[0]} и {identity.hobbies[1]}</li>
  }
</ul>
<p>Мои навыки:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
</body>
	</body>
</html>