---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
const identity = {
  firstName: "Vovchik",
  country: "Украина",
  occupation: "Технический писатель",
  hobbies: ["фотография", "создание сайтов", "бейсбол"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Написание документации"];
const pageTitle = "Обо мне";

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
          body {
        font-family: system-ui, sans-serif;
       background-color: #71e19a;    
      
      }
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
    </style>
	</head>
	<body>
		<Navigation />
<h1>Обо мне</h1>
<h2>... и моем новом сайте на Astro!</h2>
  <h1>Мой сайт на Astro</h1>
  <h1>{pageTitle}</h1>
  <h2>... и моем новом сайте на Astro!</h2>

  <p>Я прохожу вводный учебник по Astro. Это вторая страница моего сайта, и это первая страница, которую я создал самостоятельно!</p>

  <p>Сайт будет обновляться по мере прохождения учебника, так что заходите сюда снова и следите за моим прогрессом!</p>
  <h2>Несколько фактов обо мне:</h2>
<ul>
  <li>Меня зовут {identity.firstName}.</li>
  <li>Моя страна — {identity.country}.</li>
  <li>Род занятий — {identity.occupation}.</li>
  {identity.hobbies.length >= 2 &&
    <li>Два моих увлечения: {identity.hobbies[0]} и {identity.hobbies[1]}</li>
  }
</ul>
<p>Мои навыки:</p>
<ul>
  {skills.map((skill) => <li class="skill" >{skill}</li>)}
</ul>
{happy && <p>Я рад(а) изучать Astro!</p>}

{finished && <p>Я завершил(а) это руководство!</p>}

{goal === 3 ? <p>Моя цель — завершить за 3 дня.</p> : <p>Моя цель — не 3 дня.</p>}
</body>
</html>